name: build
on:
  pull_request:
    branches: "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: masarakki/docker-alias@727b270d8133ccc1b5bcaf4b4064cfd7bf357553 # v3
        with:
          image: vvakame/review:2.5
          commands: review-pdfmaker
      - uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab # v1.280.0
        with:
          bundler-cache: true
      - run: rm `bundle exec which review-pdfmaker`
      - run: bundle exec rake pdf
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: book
          path: book.pdf
