name: depoly
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: masarakki/docker-alias@727b270d8133ccc1b5bcaf4b4064cfd7bf357553 # v3
        with:
          image: vvakame/review:2.5
          commands: review-pdfmaker
      - uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab # v1.280.0
        with:
          bundler-cache: true
      - run: rm `bundle exec which review-pdfmaker`
      - run: bundle exec rake pdf
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-access-key-id: ${{ secrets.BOOK_DEPLOY_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.BOOK_DEPLOY_SECRET_KEY }}
          aws-region: us-west-2
      - run: aws s3 cp book.pdf s3://np-complete-books/pdf/TechBookFes06.pdf --acl public-read
